package view

templ Base() {
<!DOCTYPE html>
<html lang="en">

<head>
	<title>chatapp</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Chatapp made with HTMX and Golang" />
	<script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
</head>

<body>
	{ children... }
</body>

</html>
}
