package view

import "github.com/charliekim2/chatapp/model"

templ Channels(channels []model.Channel) {
@Base() {
<h1>Channels</h1>
<ul>
	for _, channel := range channels {
	<li>
		<a href={ templ.URL("/chat/" + channel.GetId()) }>{ channel.GetName() }</a>
	</li>
	}
</ul>
}
}
