package view

import "github.com/charliekim2/chatapp/model"

templ Chat(messages []model.Message, channel *model.Channel) {
@Base() {
<div hx-ext="ws" ws-connect={ string(templ.URL("/livechat/" + channel.GetId())) }>
	<h2>{ channel.GetName() }</h2>
	<ul>
		for _, m := range(messages) {
		<li>{ m.GetBody() }</li>
		}
	</ul>
	<form ws-send>
		<input type="text" name="message" />
		<input type="submit" value="Send" />
	</form>
</div>
}
}
