package view

templ Login() {
@Base() {
<h2>Login</h2>
<form method="post">
	<input type="text" id="identity" name="identity" required />
	<br />
	<input type="password" id="password" name="password" required />
	<br />
	<button type="submit">Login</button>
</form>
<a href="/signup">Sign up</a>
}
}
